<!-- student_view_others.html -->


{% block content %}
    <h2>Other Students</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Section</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.section }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
